<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Page Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="main.css" />
    <script src="main.js"></script>
</head>
<body>
    <table class="">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nome</th>
                <th>Série</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="aluno : ${alunos}">
                <td><span th:text="${aluno.id}"></span></td>
                <td><span th:text="${aluno.nome}"></span></td>
                <td><span th:text="${aluno.serie}"></span></td>
            </tr>
        </tbody>
    </table>
</body>
</html>